* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
input,
select {
  padding: 15px;
  border: 1px solid #aaa;
  outline: none;
}
.enter-field>input {
  margin-right: 10px;
}
.container>div:first-child{
  margin-bottom: 20px;
}
.result-field{
  text-align: center;
}